@{
    ViewData["Title"] = "About Us";
}

<br />
<br />

<div class="about backgroundYellow">
    <img class="about-img" src="/images/backimage1.jpg">
    <h3>About DERrestaurant</h3>
    <p>
        DERrestaurant is a unique concept that offers modern fine dining experience with incredible food, world-class service,
        and the perfect atmosphere. The menu features holds many cultural and traditional dishes
        like Chicken or Beef Steak, Chapati, Kati Kati, Doro woet and many more.
        Located in RTC, DERrestaurant offers breakfast, lunch and dinner..
    </p>
    <p>
        The press release prepared me for the panoramic views, the extravagant decor and the stratospheric prices, but I didn’t expect to be so wowed by the food, Everything sampled over two visits revealed precision, imagination and a good bit of swagger to boot.
    </p>


</div>
<br />
<br />
<br />
<br />
<br />
<br />