@{
    ViewData["Title"] = "Location";
}
<br />
<h1 style="color:#D7C19D;">Gallery Photos</h1>
<br />
<div class="border backgroundYellow row">
    <div class="row">
        <div class="column">
            <img src="/images/pexels-alex-favali-921367.jpg" style="width: 100%" />
            <img src="/images/asian_meatball_salad.jpg" style="width: 100%" />
            <img src="/images/Grilled Steak.jpg" style="width: 100%" />
        </div>
        <div class="column">
            <img src="/images/pexels-bulbfish-1143754.jpg" style="width: 100%" />
            <img src="/images/pexels-pixabay-39826.jpg" style="width: 100%" />
            <img src="/images/pexels-pixabay-434258.jpg" style="width: 100%" />
        </div>
        <div class="column">
            <img src="/images/pexels-karl-solano-7282789.jpg" style="width: 100%" />
            <img src="/images/pexels-jer-chung-2116090.jpg" style="width: 100%" />
            <img src="/images/soupL.jpg" style="width: 100%" />
        </div>
        <div class="column">
            <img src="/images/pexels-engin-akyurt-2531188.jpg" style="width: 100%" />
            <img src="/images/pexels-lisa-fotios-109275.jpg" style="width: 100%" />
            <img src="/images/pexels-photomix-company-96620.jpg" style="width: 100%" />
        </div>
    </div>



</div>
