@{
    ViewData["Title"] = "Location";
}
<br />
<h1 style="color:#D7C19D;">Our Location</h1>
<br />
<div class="border backgroundYellow row">
    <div class="col-md-3">
        <section class="location">
            <br />
            <br />
            <p>We Are Located At</p>
            <p>3000 NE 4th Street </p>
            <p>Renton WA 98056</p>
        </section>
    </div>
    <div class="col-md-6">
        <div class="container container-padding">
            <h3>See our address on Google Map!</h3>
            <!-- Google map API -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.0300850583194!2d-122.17800168437356!3d47.489327279177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490680aa2406291%3A0x5c2227745c0066ea!2sRenton%20Technical%20College!5e0!3m2!1sen!2sus!4v1642810882325!5m2!1sen!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        </div>
    </div>
</div>
<br />
<br />
<br />
